.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8EBF6;
  width: 100vw;
  height: 100vh;
  -webkit-box-shadow: 2px 3px 3px -3px #000000;
  box-shadow: 2px 3px 3px -3px #000000;
}